server:
  address: localhost
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 1234
    url: jdbc:mysql://localhost:3306/s_day?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: true
    show-sql: true


jwt:
  header: Authorization
  secret: c21sdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc21sdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10XRvm1hbC1zZWNzZXQK
  token-validity-in-seconds: 86400

spring.jpa.hibernate.ddl-auto: create-drop

logging:
  level:
    com.tutorial: debug



